html, body, { padding: 0; margin: 0;}
ul, ol { list-style: none; padding: 0; margin: 0}
.Frame {}
.Page { padding-left: 10px; }
.Page * {
  font-family: "Verdana";
}
.Panorama {
  position: absolute;
  overflow: hidden;
  left: 0px;
}
.Panorama .Title {
  font-size: 66px;
  font-weight:normal;
  font-style: normal;
  line-height: 66px;
  height: 66px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  display: inline-block;
}
.Panorama .Item {
  overflow: auto;
  float: left;
  white-space: nowrap;
  width: 250px; /* Only for devel, remove this later */
}
.Panorama .Item::-webkit-scrollbar {
  width: 5px;
}
.Panorama .Item .Header {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/* For YUI */
.yui3-js-enabled .yui3-scrollview-loading {
    visibility:hidden;
}
.yui3-scrollview {
  float: left;
}
