html, body, ul, ol, .Panorama .Title, .Panorama .Item .Header { padding: 0; margin: 0;}
ul, ol { list-style: none; }
html, body, .Frame, .Page, .Panorama { height: 100%; }
.Frame {}
.Page { 
  padding-left: 10px; 
  width: 280px;
  overflow: hidden;
}
.Page * {
  font-family: "Verdana";
  font-weight:normal;
  font-style: normal;
}
.Panorama {}
.Panorama .Title {
  font-size: 66px;
  line-height: 66px;
  height: 66px;
  margin-bottom: 15px;
}
.Panorama .Scroller {
  width: 10000px;
}
.Panorama .Scroller::-webkit-scrollbar, .Panorama .Item::-webkit-scrollbar {
  width: 5px;
}
.Panorama .Item {
  overflow: auto;
  float: left;
  width: 250px; /* Only for devel, remove this later */
}
.Panorama .Item .Header {}

/* For YUI */
.yui3-js-enabled .yui3-scrollview-loading {
    visibility:hidden;
}
.yui3-scrollview {
  float: left;
}
